*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

a{
    text-decoration: none;
    color: inherit; /* сылка всегда по умолчанию синяя, а так она наследует цветт от родителя*/
}

.header{
    background-color:black;
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 15px;
}
.logo{
    opacity: 0.9;
}
.menu__list{
    display: flex;
}

.menu__list li{
    list-style-type: none;
}

.menu__list li + li{
    padding-left: 50px;
}

.social{

}
.youtube{
    margin-right: 44px;
}

.menu__list a{
    opacity: 0.7;
    color:#fffff0;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
}

.menu__list a:hover{
    opacity: 0.8;
    color: #cc6600 ;
}

.header-slider {
    padding-top: 150px;
    padding-bottom: 70px;
}
.header-slider__item {
}
.header-slider__item-content {
    display: flex;
    justify-content: space-between;
}
.header-slider__item-info {
    max-width: 400px;
    color: #fffff0;
}
.header-slider__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 10px;
}
.header-slider__description {
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 120px;
    opacity: 0.7;
}
.action__btn {
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    padding: 13px 39px;
    background-color: #fffff0;
    border-radius: 25px;
}
.header-slider__item-images {
    width: 750px;
    margin: 10px 20px 0 0;
}
.header-slider__item-images img{
    width: 750px;
}

.header-dots{
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(50%);
}

.header-dots button{
    border: none;
    background-color: #fff;
    opacity: 0.5;
    font-size: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    display: block;
}

.header-dots .slick-active button{
    width: 15px;
    opacity: 1;
}

.specialised {
    padding-bottom: 50px;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.specialised__title {
    margin-bottom: 50px;

}
.title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
}
.specialised__items {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.specialised__items:last-child img {
    opacity: 0.6;
}
.specialised__item img{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    
}
.specialised__item {
    width: 280px;
}
.specialised__item-img {
    margin-bottom: 23px;
}
.specialised__item-tittle {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 700;
    color: #cc6600 ;
}
.specialised__item-text {
    padding: 0 10px;
    opacity: 0.5;
}

.ideology {
    padding: 50px 0;
    background-color: #161515;
    color: #fffff0;
    text-align: center;
}
.ideology__items {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.ideology-img{
    margin: auto 0;
}
.ideology-img img {
    width: 460px;
    height: 307px;
}
.ideology-info {
    padding: 50px 30px 30px 30px;
}
.ideology__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #cc6600 ;
}
.ideology__item-text {
    padding: 0 10px;
    opacity: 0.5;
    padding-bottom: 50px;
    text-align: justify;
}

.team {
    padding: 50px 0;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.team__items {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.team__item {
    width: 250px;
    margin: 0 auto;
}
.team__item-img img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 125px;
}
.team__item-title {
    margin: 40px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: #cc6600 ;
}
.team__item-descr {
    padding: 0 10px;
    opacity: 0.5;
    padding-bottom: 50px;
    text-align: center;
}



.video__block {
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.video__intro{
    max-height: 300px;
    position: relative;
    overflow: hidden;
}
.video__intro::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.video-content {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}
.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.video__info{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 50px 30px 30px 30px;
}

.video__text {
    margin: auto;
}
.video__text-title {
    margin: 10px 0;
    font-size: 60px;
    font-weight: 400;
    color: blanchedalmond ;
}
.video__text-descr {
    padding: 0 10px;
    opacity: 0.7;
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
}




.insta__block {
    padding: 50px 0;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.insta__item {
}

.insta__title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: #cc6600 ;
}
.insta__text {
    padding: 0 10px;
    opacity: 1;
    padding-bottom: 50px;
    text-align: center;
}
.insta__photos {
    display: flex;
    justify-content: space-between;
}
.insta__photo {
    margin: 0 auto;
    width: 250px;
}
.insta__photo img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}



.form__info {
    padding: 50px 0;
    background-color: black;
    color: #fffff0;
    text-align: center;
}

.form__info-items {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.form__img img{
    width: 404px;
    height: auto;
}
.form {
    width: 600px;
    height: 540px;
    /* border: #cc6600 solid 1px; */
    padding: 15px 15px 30px 15px;
    border-radius: 15px;
    border: solid 1px #f4f9fd;
}
.form__title {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #cc6600;
}

.form__inputs {
    display: flex;
    flex-direction: column;
}
.input {
    background-color: #fff;
    width: 100%;
    height: 40px;
    margin-bottom: 35px;
    text-align: center;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 15px;
    border: solid 1px #272727;
}
.textarea {
    width: 100%;
    height: 90px;
    margin-bottom: 35px;
    text-align: center;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 15px;
    border: solid 1px #272727;
}

form .action__btn {
    border: #cc6600 solid 3px;
}


.footer {
    padding: 50px 0;
    background-image: url(../images/fondo-excelente.jpg);
    color: #fffff0;
    text-align: center;
}

.footer__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .footer__items .social {
    padding-bottom: 30px;
}

.footer-line{
    display: flex;
    justify-content: space-between;

}
footer .logo {
    margin-top: -25px;
}


.productions-top {
    padding: 50px 0;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.productions-top .logo {
    margin-top: -25px;
}

.production__header {
    display: flex;
    justify-content: space-between;
}

.production {
    padding-top: 50px;
    background-color: #f4f9fd;
}

.production-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}
.production-box--right .production-box__info{
    order: 1;
}

.production-box__info {
    max-width: 550px;
    padding-top: 50px;

}


.production-box__title {
    color: #202020;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    padding: 68px 0 15px 50px;
}
.production-box__text {
    padding-left: 50px;
    color: #272727;
}
.production-box__text p{
    margin: 15px 0;
}

.production-box__images img{
    max-width: 500px;
    height: auto;
}




@media (max-width: 1190px){

    .header{
        min-height: 580px;
    }
    .header-slider{
    padding: 25px 15px;
    }
    .header-slider__item-images {
        width: 600px;
        margin: 50px 20px 0 20px;
    }
    .header-slider__item-images img{
        width: 80%;
        margin: 0 auto;
    }
    .header-slider__item-info {
        padding: 50px 20px 50px 0;
    }
    .header-dots{
        top: 30%;
    }
    .team__items {
        padding-top: 0px;
    }
    .team__item{
        padding: 0 10px;
    }
    .team__item-img img{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 125px;
    }
    .team__item-title {
        margin: 10px 0 10px 0;
    }
    .team__item-descr {
        padding-bottom: 0px;
    }
    .insta__photo {
        width: 200px;
    }
    .insta__photo img{
        width: 200px;
        height: 200px;
    }




    .form__info {
        padding: 25px 0;
    }
    .form__info-items {
        padding: 15px;
        max-width: 950px;
        margin: 0 auto;
    }
    .form__img img{
        width: 404px;
        height: auto;
    }
    .form {
        width: 450px;
        height: auto;
    }


}



@media (max-width: 950px){

    .header{
        min-height: 580px;
    }

    .header__top{
        flex-wrap: wrap;
    }
    .social{
        width: 100%;
        text-align: right;
    }
    .youtube, .insta{
        margin: 15px;
    }

    .header-slider__item-images {
        display: none;
    }

    .specialised {
        padding-bottom: 30px;
    }
    .specialised__title {
        margin-bottom: 30px;
    }
    .title {
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
    }
    .specialised__item {
        width: 190px;
    }
    .specialised__item img{
        width: 100px;
        height: 100px;
        margin: 0 auto;  
    }
    .specialised__item-img {
        margin-bottom: 10px;
    }
    .specialised__item-tittle {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
    }
    .specialised__item-text {
        padding: 0 10px;
        opacity: 0.5;
        font-size: 14px;
        line-height: 20px; 
    }
    .ideology {
        padding: 25px 0;
    }
    .ideology__items {
        padding: 0;
    }
   
    .ideology-img img {
        width: 350px;
        height: auto;
    }
    .ideology-info {
        padding: 0px 15px;
    }
    .ideology__title{
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    .ideology__item-text {
        padding-bottom: 30px;
        font-size: 14px;
        line-height: 20px; 
    }
    .team {
        padding: 25px 0;
    }
    .team__item-img img{
        width: 150px;
        height: 150px;
    }
    .video__intro {
        max-height: 250px;
    }
    .video__text-title {
        font-size: 40px;
        font-weight: 600;
    }
    .video__text-descr {
        padding-bottom: 0;
        font-size: 16px;
    }

    .insta__photo {
        width: 200px;
        padding: 10px;
    }
    .insta__photo img{
        width: 150px;
        height: 150px;
    }




    .form__img{
        display: none;
    }
    .form {
        margin: 0 auto;
        width: 600px;
    }



}




@media (max-width: 750px){
    .header{
        min-height: 500px;
    }
    .menu__list{
        display: none;
        position: absolute;
        top: 120px;
        width: 100%;
        left: 0;
        text-align: center;
        background-color: #cc6600;
        z-index: 5;
    }
    .menu__list li + li{
        padding-left: 0;
    }
    .menu__list a{
        display: block;
        padding: 10px 0;
    }
    .menu__list a:hover{
        color:black;
        font-weight: 600;
    }
    
    .menu__btn{
        width: 30px;
        height: 20px;
        position: relative;
        margin-right: 15px;
        /* overflow: hidden; */
    }
    .menu__btn span{
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 9px;
        position: absolute;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }
    .menu__btn::after{
        top: 0;
    }
    .menu__btn::before{
        bottom: 0;
    }

    .header-slider__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 45px;
    }

    .header-slider__description {
        line-height: 20px;
        font-size: 20px;
        margin-bottom: 70px;
    }

    .ideology__items {
        flex-direction: column;
    }


    .team__items {
        padding-top: 0px;
    }
    .team__item{
        padding: 0 10px;
    }
    .team__item-img img{
        width: 100px;
        height: 100px;;
    }
    .team__item-title {
        font-size: 18px;
    }
    .team__item-descr {
        font-size: 14px;
        line-height: 10px;
    }
    
    .video__intro {
        max-height: 170px;
    }

    .insta__photos :nth-child(3){
        display: none;
    }
    .insta__photos :nth-child(4){
        display: none;
    }
    .insta__photo {
        width: 250px;
        padding: 10px;
    }
    .insta__photo img{
        width: 230px;
        height: 230px;
    }



    .form__title {
        margin-bottom: 20px;
        font-size: 17px;
    }
    
    .input {
        height: 30px;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
    }
    .textarea {
        height: 30px;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
    }

}

@media (max-width: 710px){
    .specialised__item-text {
        display: none;
    }
    .video__text-title {
        font-size: 30px;
        font-weight: 400;
    }
    .video__text-descr {
        padding-bottom: 0;
        font-size: 14px;
    }
}

@media (max-width: 550px){

    .title {
        font-size: 24px;
        line-height: 24px;
    }
    .specialised__items{
        flex-direction: column;
    }
    .specialised__item {
        margin: 0 auto;
        width: 200px;
    }
    .specialised__item img{
        width: 150px;
        height: 150px;
        margin: 0 auto;  
    }
    .team{
        display: none;
    }
    .video__block{
        display: none;
    }
    .insta__photos{
        flex-direction: column;
    }
    .insta__photo {
        width: 270px;
        padding: 10px;
    }
    .insta__block {
        padding: 25px 0;
    }
    .insta__title {
        font-size: 16px;
    }
    .insta__text {
        padding-bottom: 15px;
        font-size: 14px;
    }
    .insta__photo img{
        width: 250px;
        height: 250px;
    } 
}

@media (max-width: 410px){
    .ideology-img img {
        width: 300px;
        height: auto;
    }

    .insta__photos :nth-child(2){
        display: none;
    }
}

@media (max-width: 380px){
    .logo img{
        width: 150px;
        height: auto;
        margin-bottom: 10px;
    }
    .social{
        text-align: center;
    }
    .action__btn {
        padding: 10px 30px;
        line-height: 13px;
        font-size: 10px;
        font-weight: 700;
    }
    .ideology-img{
        display: none;
    }
    .footer-line .logo{
        margin: 0 auto;
    }
    
}










@media (min-width: 750px){
    .menu__list{
        display: flex !important;
    }
}