*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

a{
    text-decoration: none;
    color: inherit; /* сылка всегда по умолчанию синяя, а так она наследует цветт от родителя*/
}

/* .header{
    background-image: url(../images/home.jpg);
    height: 10vh;
    border-bottom: solid 1px #ff6600;
} */

.header{
    background-color:black;
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.logo{
    opacity: 0.9;
}
.menu__list{
    display: flex;
}

.menu__list li{
    list-style-type: none;
}

.menu__list li + li{
    padding-left: 50px;
}

.youtube{
    margin-right: 44px;
}

.menu__list a{
    opacity: 0.7;
    color:#fffff0;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
}

.menu__list a:hover{
    opacity: 0.8;
    color: #ff6600;
}

.header-slider {
    padding-top: 150px;
    padding-bottom: 70px;
}
.header-slider__item {
}
.header-slider__item-content {
    display: flex;
    justify-content: space-between;
}
.header-slider__item-info {
    max-width: 400px;
    color: #fffff0;
}
.header-slider__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 10px;
}
.header-slider__description {
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 120px;
    opacity: 0.7;
}
.action__btn {
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    padding: 13px 39px;
    background-color: #fffff0;
    border-radius: 25px;
}
.header-slider__item-images {
    width: 750px;
    margin: 10px 20px 0 0;
}
.header-slider__item-images img{
    width: 750px;
}

.header-dots{
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
}

.header-dots button{
    border: none;
    background-color: #fff;
    opacity: 0.5;
    font-size: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    display: block;
}

.header-dots .slick-active button{
    width: 15px;
    opacity: 1;
}

.specialised {
    padding-bottom: 50px;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.specialised__title {
    margin-bottom: 50px;

}
.title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
}
.specialised__items {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.specialised__items:last-child img {
    opacity: 0.7;
}
.specialised__item img{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    
}
.specialised__item {
    width: 280px;
}
.specialised__item-img {
    margin-bottom: 23px;
}
.specialised__item-tittle {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 700;
    color: #ff6600 ;
}
.specialised__item-text {
    padding: 0 10px;
    opacity: 0.5;
}

.ideology {
    padding: 50px 0;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.ideology__items {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.ideology-img img {
    width: 460px;
    height: 307px;
}
.ideology-info {
    padding: 50px 30px 30px 30px;
}
.ideology__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #ff6600 ;
}
.ideology__item-text {
    padding: 0 10px;
    opacity: 0.5;
    padding-bottom: 50px;
    text-align: justify;
}

.team {
    padding: 50px 0;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.team__items {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.team__item {
    width: 250px;
    margin: 0 auto;
}
.team__item-img img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 125px;
}
.team__item-title {
    margin: 40px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: #ff6600 ;
}
.team__item-descr {
    padding: 0 10px;
    opacity: 0.5;
    padding-bottom: 50px;
    text-align: center;
}



.video__block {
    padding: 30px 0;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.video__intro{
    max-height: 300px;
    position: relative;
    overflow: hidden;
}
.video__intro::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.video-content {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}
.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.video__info{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.video__text {
    margin: auto;
}
.video__text-title {
    margin: 10px 0;
    font-size: 60px;
    font-weight: 400;
    color: blanchedalmond ;
}
.video__text-descr {
    padding: 0 10px;
    opacity: 0.7;
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
}







.insta__block {
    padding: 30px 0;
    background-color: black;
    color: #fffff0;
    text-align: center;
}
.insta__item {
}

.insta__title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: #ff6600 ;
}
.insta__text {
    padding: 0 10px;
    opacity: 0.5;
    padding-bottom: 50px;
    text-align: center;
}
.insta__photos {
    display: flex;
    justify-content: space-between;
}
.insta__photo {
    margin: 0 auto;
    width: 250px;
}
.insta__photo img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
